.all{
    background-color: rgb(106, 111, 173);
}

.header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
}

.contact{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainLogo{
    font-size: x-large;
    text-align: center;
    font-style: italic;
}

.form{
    width: 500px;
    background-color: white;
}