.all{
    background-color: rgb(173, 155, 106);
}

.all .header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
}

.all .contact{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.all .mainLogo{
    font-size: x-large;
    text-align: center;
    font-style: italic;
}

.all .form{
    width: 500px;
    background-color: white;
    text-align: center;
}